
.contac{
    width: 16vh;
    height: 10vh;
}

#H_contac, #A_contac, #B_contac, #L_contac, #A_2_contac, #M_contac, #E_contac, #S_contac , #O_contac, #Y_contac, #P_contac, #I_contac, #O_2_contac, #L_2_contac, #A_3_contac{
    visibility: visible;
    fill-opacity: 100%;
}

#Contactame{
    transform: translateY(0);
}

#Aqui{
    transform: translateY(0);
}

.contac:hover #H_contac,.contac:hover #A_contac,.contac:hover #B_contac,.contac:hover #L_contac,.contac:hover #A_2_contac,.contac:hover #M_contac,.contac:hover #E_contac,.contac:hover #S_contac ,.contac:hover #O_contac,.contac:hover #Y_contac,.contac:hover #P_contac,.contac:hover #I_contac,.contac:hover #O_2_contac,.contac:hover #L_2_contac,.contac:hover #A_3_contac{
animation: none;
}
