.flex-start-flex-j {
    display: flex;
    justify-content: flex-start;
}

.flex-end-flex-j {
    display: flex;
    justify-content: flex-end;
}

.center-flex-j {
    display: flex;
    justify-content: center;
}

.space-between-flex-j {
    display: flex;
    justify-content: space-between;
}

.space-around-flex-j {
    display: flex;
    justify-content: space-around;
}

.space-evenly-flex-j {
    display: flex;
    justify-content: space-evenly;
}

.center-flex-ai {
    display: flex;
    align-items: center;
}

.center-flex-ai {
    display: flex;
    align-items: center;
}

.center-flex-ai {
    display: flex;
    align-items: center;
}

.center-inflex-ai {
    display: inline-flex;
    align-items: center;
}

body {
    margin: 0px;
    background: #222222;
    background: linear-gradient(284deg, #222222 80%, #044343 80%);
    background: -webkit-linear-gradient(284deg, #222222 80%, #044343 80%);
    background: -moz-linear-gradient(284deg, #222222 80%, #044343 80%);
}

.nav {
    width: 100%;
    height: 11vh;
    border-bottom: white 0.01vh solid;

    display: flex;
}

.presentacion {
    height: 88.09vh;

    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

}


.bloque-guias {
    width: 80vw;
    height: 12vh;

    margin-left: 2vw;
    display: flex;
    align-items: center;
    justify-content: flex-end;

}

.guias {
    margin-left: 5vh;
    margin-right: 5vh;
    font-family: 'Chakra Petch', sans-serif;
    font-size: 20px;
    color: white;

}

.logo {
    width: auto;
    height: 100%;
}

.figura {
    width: auto;
    height: 85%;
    margin-top: 10px;
    margin-left: 35px;

}

.figura:hover #Vector_1,
.figura:hover #Vector_4,
.figura:hover #Vector_5,
.figura:hover #Vector_6,
.figura:hover #Vector_9,
.figura:hover #Vector_10,
.figura:hover #Vector_14 {
    fill: #044343;
}

.figura:hover #Rectangle_1,
.figura:hover #Rectangle_2,
.figura:hover #Vector_12,
.figura:hover #Rectangle_3,
.figura:hover #Vector_2,
.figura:hover #Vector_3,
.figura:hover #Vector_8,
.figura:hover #Vector_11,
.figura:hover #Vector_7,
.figura:hover #Vector_13 {
    fill: #045757;

}



.redes {
    width: 100vw;
    height: 10vh;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.redes a {
    height: 100%;

}

.redes a img {
    height: 50%;
    border-radius: 10px;
    padding: 0.25vw;
    margin: 10px;

}

.redes img:hover {
    height: 50%;
    padding: 0.25vw;
    margin: 10px;
    background-color: #045757;
}


.nombre {
    display: block;
    width: 35vw;
    height: 35vh;
    margin-bottom: 25vh;
    margin-left: 2.5vw;
}

#P,
#R,
#O,
#G,
#R_3,
#A,
#M,
#A_3,
#D,
#O_2,
#R_2 {
    visibility: hidden;
    fill-opacity: 0%;


}

#F,
#U,
#L,
#L_2,
#S,
#T,
#A_2,
#C,
#K {
    visibility: hidden;
    fill-opacity: 0%;

}

#Albornoz {
    transform: translateY(-25%);
    transition: all 0.75s ease-in-out;
}

.presentacion:hover #Albornoz {
    transform: translateY(0%);
}

#Horacio {
    transform: translateY(25%);
    transition: all 0.75s ease-in-out;
}

.presentacion:hover #Horacio {
    transform: translateY(0%);
}

.presentacion:hover #P,
.presentacion:hover #R,
.presentacion:hover #O,
.presentacion:hover #G,
.presentacion:hover #R_3,
.presentacion:hover #A,
.presentacion:hover #M,
.presentacion:hover #A_3,
.presentacion:hover #D,
.presentacion:hover #O_2,
.presentacion:hover #R_2 {

    stroke: #045757;
    stroke-width: 0.5;
    margin-right: 10px;
    stroke-dasharray: 100;
    stroke-dashoffset: 100;
    animation: animation 1.5s ease-in forwards;
    animation-delay: 0.25s;

}




.presentacion:hover #F,
.presentacion:hover #U,
.presentacion:hover #L,
.presentacion:hover #L_2,
.presentacion:hover #S,
.presentacion:hover #T,
.presentacion:hover #A_2,
.presentacion:hover #C,
.presentacion:hover #K {

    stroke: #045757;
    stroke-width: 0.5;
    margin-right: 10px;
    stroke-dasharray: 100;
    stroke-dashoffset: 100;
    animation: animation 1.5s ease-in forwards;


}



@keyframes animation {
    50% {
        visibility: visible;
        stroke-dashoffset: 50;
        fill-opacity: 20%;
        stroke-width: 0.5;
    }

    75% {
        visibility: visible;
        stroke-dashoffset: 25;
        fill-opacity: 50%;
        stroke-width: 0.25;
    }

    100% {
        visibility: visible;
        stroke-dashoffset: 0;
        fill-opacity: 100%;
        stroke-width: 0;
    }

}

.quien_soy {
    width: 16vh;
    height: 10vh;

}

#Sobre {
    transform: translateY(25%);
    transition: all 0.5s ease-in-out;

}

#Mi {
    transform: translateY(-25%);
    transition: all 0.5s ease-in-out;
}

.quien_soy:hover #Sobre {
    transform: translateY(0);
}

.quien_soy:hover #Mi {
    transform: translateY(0);
}

#Q,
#U_nav,
#I,
#E,
#N,
#S_nav,
#O_nav,
#Y {
    visibility: hidden;
    fill-opacity: 0%;
}


.quien_soy:hover #Q,
.quien_soy:hover #U_nav,
.quien_soy:hover #I,
.quien_soy:hover #E,
.quien_soy:hover #N,
.quien_soy:hover #S_nav,
.quien_soy:hover #O_nav,
.quien_soy:hover #Y {
    stroke: #045757;
    stroke-width: 0.5;
    margin-right: 10px;
    stroke-dasharray: 100;
    stroke-dashoffset: 100;
    animation: animation 0.5s ease-in forwards;
    animation-delay: 0.25s;
}


.habilidades {
    width: 16vh;
    height: 10vh;
}


#H_habilidad,
#T_habilidad,
#M_habilidad,
#L_habilidad,
#coma_habilidad,
#C_habilidad,
#S_habilidad,
#S_2_habilidad,
#punto_habilidad,
#punto_2_habilidad,
#punto_3_habilidad {
    visibility: hidden;
    fill-opacity: 0%;
}

.habilidades:hover #H_habilidad,
.habilidades:hover #T_habilidad,
.habilidades:hover #M_habilidad,
.habilidades:hover #L_habilidad,
.habilidades:hover #coma_habilidad,
.habilidades:hover #C_habilidad,
.habilidades:hover #S_habilidad,
.habilidades:hover #S_2_habilidad,
.habilidades:hover #punto_habilidad,
.habilidades:hover #punto_2_habilidad,
.habilidades:hover #punto_3_habilidad {
    stroke: #045757;
    stroke-width: 0.5;
    margin-right: 10px;
    stroke-dasharray: 100;
    stroke-dashoffset: 100;
    animation: animation 0.5s ease-in forwards;
    animation-delay: 0.25s;
}

#Habilidades {
    transform: translateY(-14%);
    transition: all 0.25s ease-in-out;

}

#Mis {
    transform: translateY(14%);
    transition: all 0.25s ease-in-out;
}

.habilidades:hover #Habilidades {
    transform: translateY(0);
    transition: all 0.25s ease-in-out;

}

.habilidades:hover #Mis {
    transform: translateY(0);
    transition: all 0.25s ease-in-out;
}

.proyecto {
    width: 16vh;
    height: 10vh;
}

#Mis_proyec {
    transform: translateY(25%);
    transition: all 0.5s ease-in-out;
}

#Proyectos_proyec {
    transform: translateY(-25%);
    transition: all 0.5s ease-in-out;
}

.proyecto:hover #Mis_proyec {
    transform: translateY(0%);
    transition: all 0.5s ease-in-out;
}

.proyecto:hover #Proyectos_proyec {
    transform: translateY(0%);
    transition: all 0.5s ease-in-out;
}


#D_proyec,
#I_proyec,
#S_proyec,
#E_proyec,
#Ñ_proyec,
#O_proyec,
#S_2_proyec,
#Y_proyec,
#R_proyec,
#E_3_proyec,
#guion_proyec,
#D_2_proyec,
#I_2_proyec,
#S_3_proyec,
#E_2_proyec,
#Ñ_2_proyec,
#O_2_proyec,
#S_4_proyec {
    visibility: hidden;
    fill-opacity: 0%;
}

.proyecto:hover #D_proyec,
.proyecto:hover #I_proyec,
.proyecto:hover #S_proyec,
.proyecto:hover #E_proyec,
.proyecto:hover #Ñ_proyec,
.proyecto:hover #O_proyec,
.proyecto:hover #S_2_proyec,
.proyecto:hover #Y_proyec,
.proyecto:hover #R_proyec,
.proyecto:hover #E_3_proyec,
.proyecto:hover #guion_proyec,
.proyecto:hover #D_2_proyec,
.proyecto:hover #I_2_proyec,
.proyecto:hover #S_3_proyec,
.proyecto:hover #E_2_proyec,
.proyecto:hover #Ñ_2_proyec,
.proyecto:hover #O_2_proyec,
.proyecto:hover #S_4_proyec {
    stroke: #045757;
    stroke-width: 0.5;
    margin-right: 10px;
    stroke-dasharray: 100;
    stroke-dashoffset: 100;
    animation: animation 0.5s ease-in forwards;
    animation-delay: 0.25s;
}

.contac {
    width: 16vh;
    height: 10vh;
}

#H_contac,
#A_contac,
#B_contac,
#L_contac,
#A_2_contac,
#M_contac,
#E_contac,
#S_contac,
#O_contac,
#Y_contac,
#P_contac,
#I_contac,
#O_2_contac,
#L_2_contac,
#A_3_contac {
    visibility: hidden;
    fill-opacity: 0%;
}

#Contactame {
    transform: translateY(24%);
    transition: all 0.5s ease-in-out;
}

#Aqui {
    transform: translateY(-24%);
    transition: all 0.5s ease-in-out;
}

.contac:hover #Contactame {
    transform: translateY(0);
    transition: all 0.5s ease-in-out;
}

.contac:hover #Aqui {
    transform: translateY(0);
    transition: all 0.5s ease-in-out;
}

.contac:hover #H_contac,
.contac:hover #A_contac,
.contac:hover #B_contac,
.contac:hover #L_contac,
.contac:hover #A_2_contac,
.contac:hover #M_contac,
.contac:hover #E_contac,
.contac:hover #S_contac,
.contac:hover #O_contac,
.contac:hover #Y_contac,
.contac:hover #P_contac,
.contac:hover #I_contac,
.contac:hover #O_2_contac,
.contac:hover #L_2_contac,
.contac:hover #A_3_contac {
    stroke: #045757;
    stroke-width: 0.5;
    margin-right: 10px;
    stroke-dasharray: 100;
    stroke-dashoffset: 100;
    animation: animation 0.5s ease-in forwards;
    animation-delay: 0.25s;
}

.yo {
    height: 88.3vh;

    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.yo_texto {
    width: 45%;
    height: fit-content;
    background-color: #e4e4e4;
    border: 3px solid #045757;
    border-radius: 25px;
    word-break: break-all;

    font-family: 'Chakra Petch', sans-serif;
    font-size: 2.3vh;
    transition: all .75s ease-in-out;
}
.yo_texto:hover{
    animation: cambiodefont 1.5s ease-in forwards;

}

@keyframes cambiodefont {
    20%{
        font-family: 'Courier New', Courier, monospace;
    }
    35% {
       font-family: 'Chakra Petch', sans-serif;
    }

    45% {
        font-family: 'Courier New', Courier, monospace;
    }

    55% {
        font-family: 'Chakra Petch', sans-serif;
    }
}

.yo_texto p {
    margin: 0.5vw;
}

.titulo_yo {
    text-align: center;
    margin-top: 2%;
    margin-bottom: 2%;
    font-size: 200%;
}

.bloque_foto {

    height: 25vh;
    width: 25vh;
    margin-left: 1vw;
}

.yo_foto {
    width: 100%;
    height: 100%;
    border-radius: 25px;
    z-index: 100;
}

.yo_foto img {
    width: auto;
    height: 100%;
    border-radius: 25px 25px 25px 25px;
    z-index: 100;
    position: relative;
    z-index: 1;
    transition: all .75s ease-in-out;

}

.yo_cv {
    border-radius: 25px 25px 25px 25px;
    width: 100%;
    height: 100%;
    background-color: #dddd;
    transform: translateY(-100%);
    position: relative;
    z-index: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    transition: all .75s ease-in-out;
}

.bloque_foto:hover .yo_foto img {
    border-radius: 25px 25px 0px 0px;
    border: #045757 solid 3px;
    border-bottom: none;
    transform: translateY(-50%);
    position: relative;
    z-index: 1;
}

.bloque_foto:hover .yo_cv {
    border-radius: 0px 0px 25px 25px;
    border: #045757 solid 3px;
    border-top: none;
    transform: translateY(-50%);

    background-color: #dddd;

    position: relative;
    z-index: 0;

}

.texto_cv {
    width: 80%;
    height: fit-content;
    margin-bottom: 6%;
    transition: all 0.25s ease;
    font-family: 'Chakra Petch', sans-serif;
    text-align: center;
}

.texto_cv:hover {
    width: 80%;
    height: fit-content;
    background-color: #e4e4e4;
    border-radius: 15px;
    margin-bottom: 7%;

}

.boton_cv {
    width: 60%;
    height: 3vh;
    background-color: #e4e4e4;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 5%;
    font-family: 'Chakra Petch', sans-serif;
    font-size: 1.7vh;
    transition: all 0.25s ease;
    text-decoration: none;

}

.boton_cv:hover {
    background-color: #044343;
    text-decoration: none;

}

.boton_cv a {
    color: #222222;
    text-decoration: none;
}

.boton_cv:hover a {
    color: #e4e4e4;
    background-color: #044343;
    text-decoration: none;
}

.view {
    width: 100%;
    height: 100%;
    float: left;
    overflow: hidden;
    position: relative;


}

.view .mask,
.view .content {
    width: 99%;
    height: 99%;
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0;
}

.view img {
    display: block;
    position: relative;
}

.view-tenth img {

    -webkit-transition: all 0.75s ease-in-out;
    -moz-transition: all 0.75s ease-in-out;
    -o-transition: all 0.75s ease-in-out;
    -ms-transition: all 0.75s ease-in-out;
    transition: all 0.75s ease-in-out;
}

.view-tenth:hover img {
    -webkit-transform: scale(10);
    -moz-transform: scale(10);
    -o-transform: scale(10);
    -ms-transform: scale(10);
    transform: scale(10);
    -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    opacity: 0;
}

.view-tenth .mask {
    background-color: #045757;
    opacity: 75%;
    border: #e4e4e4 1px solid;
    border-radius: 20px;
    -webkit-transition: all 0.5s linear;
    -moz-transition: all 0.5s linear;
    -o-transition: all 0.5s linear;
    -ms-transition: all 0.5s linear;
    transition: all 0.5s linear;
    -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    opacity: 0;
}

.view-tenth:hover .mask {
    -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: alpha(opacity=100);
    border: #e4e4e4 1px solid;

    opacity: 1;
}

.view-tenth h2 {
    font-family: 'Chakra Petch', sans-serif;
    font-size: 20px;
    background: transparent;
    text-align: center;
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -o-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
    color: #e4e4e4;
    -webkit-transition: all 0.5s linear;
    -moz-transition: all 0.5s linear;
    -o-transition: all 0.5s linear;
    -ms-transition: all 0.5s linear;
    transition: all 0.5s linear;
    -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    opacity: 0;
}

.view-tenth p {
    color: #dddddd;
    -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)";
    font-family: 'Chakra Petch', sans-serif;
    margin-left: 25px;
    filter: alpha(opacity=0);
    opacity: 0;
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -o-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
    -webkit-transition: all 0.5s linear;
    -moz-transition: all 0.5s linear;
    -o-transition: all 0.5s linear;
    -ms-transition: all 0.5s linear;
    transition: all 0.5s linear;
}

.barra {
    width: 90%;
    height: 1px;
    background-color: #dddddd;

}

.view-tenth:hover h2,
.view-tenth:hover p {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: alpha(opacity=100);
    opacity: 1;
}

.bloque-tecnologia {

    width: 85%;
    height: 75vh;
    margin-top: 50PX;
    border-radius: 20px;
    transition: all .5s;

}


.bloque-tecnologia-unidad {
    width: 250px;
    height: 250px;
    margin-top: 25px;
    border-radius: 20px;


}


.titulo-tecnologia {
    text-align: center;
    font-size: 25px;
    padding-top: 10px;
    color: #e4e4e4;
    font-family: 'Chakra Petch', sans-serif;


}