.habilidades{
    width: 16vh;
    height: 10vh;
}


#H_habilidad, #T_habilidad, #M_habilidad, #L_habilidad, #coma_habilidad, #C_habilidad, #S_habilidad, #S_2_habilidad, #punto_habilidad, #punto_2_habilidad, #punto_3_habilidad{
    visibility: visible;
    fill-opacity: 100%;
} 


#Habilidades{
    transform: translateY(0);


}
#Mis{
    transform: translateY(0);

}
.habilidades:hover #H_habilidad, .habilidades:hover #T_habilidad,.habilidades:hover #M_habilidad,.habilidades:hover #L_habilidad,.habilidades:hover #coma_habilidad,.habilidades:hover #C_habilidad,.habilidades:hover #S_habilidad,.habilidades:hover #S_2_habilidad,.habilidades:hover #punto_habilidad,.habilidades:hover #punto_2_habilidad,.habilidades:hover #punto_3_habilidad{
animation: none;
} 
