
.proyecto{
    width: 16vh;
    height: 10vh;
}

#Mis_proyec{
    transform: translateY(0);

}
#Proyectos_proyec{
    transform: translateY(0);

}



#D_proyec, #I_proyec, #S_proyec, #E_proyec, #Ñ_proyec, #O_proyec, #S_2_proyec, #Y_proyec, #R_proyec, #E_3_proyec, #guion_proyec, #D_2_proyec, #I_2_proyec, #S_3_proyec, #E_2_proyec, #Ñ_2_proyec, #O_2_proyec, #S_4_proyec{
    visibility: visible;
    fill-opacity: 100%;
}

.proyecto:hover #D_proyec,.proyecto:hover #I_proyec,.proyecto:hover #S_proyec,.proyecto:hover #E_proyec,.proyecto:hover #Ñ_proyec,.proyecto:hover #O_proyec,.proyecto:hover #S_2_proyec,.proyecto:hover #Y_proyec,.proyecto:hover #R_proyec,.proyecto:hover #E_3_proyec,.proyecto:hover #guion_proyec,.proyecto:hover #D_2_proyec,.proyecto:hover #I_2_proyec,.proyecto:hover #S_3_proyec,.proyecto:hover #E_2_proyec,.proyecto:hover #Ñ_2_proyec,.proyecto:hover #O_2_proyec,.proyecto:hover #S_4_proyec{
animation: none;
}

