.quien_soy{
    width: 16vh;
    height: 10vh;

}
#Sobre{
    transform: translateY(0);

}
#Mi{
    transform: translateY(0);
}

#Q,#U_nav, #I, #E, #N, #S_nav, #O_nav, #Y{
    visibility: visible;
    fill-opacity: 100%;
}
.quien_soy:hover #Q,.quien_soy:hover #U_nav,.quien_soy:hover #I,.quien_soy:hover #E,.quien_soy:hover #N,.quien_soy:hover #S_nav,.quien_soy:hover #O_nav,.quien_soy:hover #Y{
    animation: none;
    } 
    
