/* ----------------------------------------------Index.html------------------------------------------------ */
/* ----------------------margenes------------------------- */
.margen-lr-50{
    margin-left: 50px;
    margin-right: 50px;
}

.margen-tb-25{
    margin-top: 35px;
    margin-bottom: 35px;
}
.margen-l-35{
    margin-left: 35px;
}
.margen-r-35{
    margin-right: 35px;
}
.margen-tb-50{
    margin-top: 50px;
    margin-bottom: 50px;
}
/* ----------------------margenes------------------------- */


/* ----------------------backgrouonds------------------------- */
.background-coral{
    background-color: coral;
}
/* ----------------------backgrouonds------------------------- */


/* ----------------------textos------------------------- */
.text-nav-active{
    color: black;
    text-decoration: none;
}

.titulo-tecnologia{
    text-align: center;
    font-size: 25px;
    padding-top: 10px;
    
}
.titulo-habilidades{
    text-align: center;
    font-size: 25px;
    padding-top: 10px;
    
}
.titulo-foto{
    text-align: center;
    font-size: 25px;
    padding-top: 10px;
    
}
.titulo-presentacion{
    text-align: center;
    font-size: 25px;
    padding-top: 10px;
    
}
.titulo-animacion{
    text-align: center;
    font-size: 25px;
    padding-top: 10px;
    
}
.titulo-instituciones{
    text-align: center;
    font-size: 25px;
    padding-top: 10px;
    
}
.titulo-contacto{
    text-align: center;
    font-size: 25px;
    padding-top: 10px;
    
}

.text-nav{
    color: gray;
    text-decoration: none;
}
/* ----------------------textos------------------------- */





/* ----------------------ajustes de pantalla------------------------- */



.flex-start-flex{
display: flex;
justify-content: flex-start;
}

.flex-end-flex{
display: flex;
justify-content: flex-end;
}

.center-flex{
display: flex;
justify-content: center;
}

.space-between-flex{
display: flex;
justify-content: space-between;
}

.space-around-flex{
display: flex;
justify-content: space-around;
}

.space-evenly-flex{
display: flex;
justify-content: space-evenly;
}

.center-flex-ai{
    display: flex;
    align-items: center 
}

/* ----------------------ajustes de pantalla------------------------- */


/* ----------------------bloques------------------------- */
.bloque-tecnologia{

    width: 85%;
    height: 647.5px;
    background-color: gray;

    margin-top: 50PX;
    border-radius: 20px;

}
.bloque-tecnologia-unidad{
    width: 250px;
    height: 250px;
    border: 2px solid white ;
    border-radius: 20px;

}
/* -------------------------- */
.bloque-habilidades{
    width: 85%;
    height: 647.5px;
    background-color: gray;
    margin-top: 50PX;
    border-radius: 20px;
}
.bloque-habilidades-unidad{
    width: 250px;
    height: 250px;
    border: 2px solid white ;
    border-radius: 20px;
}
/* -------------------------- */
.bloque-foto{
    width: 250px;
    height: 400px;
    background-color: gray;
    margin-top: 50PX;
    border-radius: 20px;
}
.bloque-presentacion{
    width: 550px;
    height: 550px;
    background-color: gray;
    margin-top: 50PX;
    border-radius: 20px;
}
.bloque-animacion{
    width: 450px;
    height: 550px;
    background-color: gray;
    margin-top: 50PX;
    border-radius: 20px;
}
/* -------------------------- */
.bloque-instituciones{
    width: 750px;
    height: 650px;
    background-color: gray;
    margin-top: 50PX;
    border-radius: 20px;
}
.bloque-instituciones-unidad{
    width: 250px;
    height: 250px;
    border: 2px solid white ;
    border-radius: 20px;
}

.bloque-animacion2{
    width: 450px;
    height: 550px;
    background-color: gray;
    margin-top: 50PX;
    border-radius: 20px;
    margin-right: 100px;
}
/* -------------------------- */
.bloque-formulario-contacto{
    width: 600px;
    height: 550px;
    background-color: gray;
    margin-top: 50PX;
    border-radius: 20px;
}
.bloque-contacto{
    width: 450px;
    height: 550px;
    background-color: gray;
    margin-top: 50PX;
    border-radius: 20px;
    margin-right: 250px;
}
/* -------------------------- */
.bloque-footer{
    width: 1920px;
    height: 250px;
    background-color: rgb(0, 0, 0);
    margin-top: 50PX;
}
.bloque-footer-unidad{
    width: 573px;
    height: 250px;
    background-color: gray;
}
.bloque-link-footer{
    width: 75px;
    height: 45px;
    background-color: rgb(0, 0, 0);
    border-radius: 50px;
}


/* ----------------------bloques------------------------- */

/* ------------------------------------------------CriptoWord.html---------------------------------------------- */


