.margen-lr-50{
    margin-left: 50px;
    margin-right: 50px;
}
.background-coral{
    background-color: coral;
}
.text-nav-active{
    color: black;
    text-decoration: none;
}

.text-nav{
    color: gray;
    text-decoration: none;
}

.bloque-tecnologia{
    width: 1500px;
    height: 750px;
    background-color: gray;
    margin-left: 210px;
    margin-right: 210px;
    margin-top: 50PX;
    border-radius: 10   px;

}
.bloque-tecnologia-unidad{
    display: flex;
    
    width: 375px;
    height: 375px;
    background-color: black;
}

.titulo-tecnologia{
    text-align: center;
    font-size: 25px;
    padding-top: 10px;
    
}
