@font-face {
    font-family: Cinzel;
    src: url(Cinzel-Regular.otf);
}


body {
    margin: 0;
    background-color: #1B1717;
}

.conteiner-main {
    width: 100%;
    height: 100%;
    position: absolute;
}

/* -----------------------------------  inicio header -------------------------------------------- */


header {
    width: 100%;
    height: 10%;
    display: flex;

}

.conteiner-idioma {
    padding-left: 5%;
    width: 7.5%;
    height: 100%;
    display: flex;
    align-items: center;
}

.conteiner-idioma .conteiner-selectidioma {
    background-color: antiquewhite;
    width: 50%;
    height: 50%;
}

.conteiner-quiensoy {
    width: 12.5%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;

}

.conteiner-proyectos {
    width: 12.5%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;

}

.conteiner-logo {
    width: 25%;
    height: 100%;

}

.conteiner-habilidades {
    width: 12.5%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
}

.conteiner-contacto {
    width: 12.5%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
}

.conteiner-modo {
    padding-right: 5%;
    width: 7.5%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.conteiner-modo .conteiner-selectmodo {
    background-color: antiquewhite;
    width: 50%;
    height: 50%;
}

header p {
    margin: 0ch;
    color: white;
    font-size: 30px;
    font-family: Cinzel;
}

header .conteiner-habilidades p {
    margin: 0ch;
    margin-right: 10%;
}

/* -----------------------------------  final header -------------------------------------------- */

/* -----------------------------------  inicio main -------------------------------------------- */

main {
    width: 100%;
    height: 90%;
    display: flex;
}

.conteiner-nombre {
    width: 50%;
    height: 100%;
    margin-left: 5%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;

}

.conteiner-nombre p {
    margin: 0ch;
    color: white;
    font-size: 96px;
    font-family: Cinzel;
}

.conteiner-nombre .caption {
    color: red;
    font-size: 50px;
    font-family: Cinzel;
}

.conteiner-logogrande {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.conteiner-porahora {
    width: 50vh;
    height: 50vh;
    background-color: black;
}


*{
    margin: 0;
    padding: 0;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: bisque;
}


.box{
    display: flex;
    width: 25%;
    height: 10%;
}

.box .eye{
position: relative;
width: 120px;
height: 120px;
display: block;
background: #ffff;
margin: 0 20px;
border-radius: 50%;
}

.box .eye::before{
content: '';
position: absolute;
top: 50%;
width: 45px;
height: 45px;
border-radius: 50%;
background-color: #1B1717;
transform: translate(50%, -50%);
border: 10px solid #219265;
box-sizing: border-box;

}