{% extends 'space/base.html' %}


{% load static %}

{% block content %}
<div class="main-inicio">
    <div class="main-proyecto">
        <section id="seccion12" class="section">
            <div class="slider">
                <div class="slider-slides">
                    <div class="slider-slide active">
                        <div class="proyecto1">
                            <div class="conteiner-main-proyecto">
                                <div class="titulo-proyecto"> Criptoword</div>
                                <div><img src='{% static "imagenes/space/icon S.png" %}' alt="" width="25%"></div>
                            </div>
                            <div class="conteiner-main-proyecto">
                                <div class="titulo-proyecto"> Construida con</div>
                                <div class="tecnologias-construccion">
                                    <div class="icon-habilidades">
                                        <span class="tooltip">HTML</span>
                                        <span><img class="imagane-icon-habilidades html"
                                                src='{% static "imagenes/space/ic-html.png" %}' height="1.5vh"></span>
                                    </div>
                                    <div class="icon-habilidades">
                                        <span class="tooltip">CSS</span>
                                        <span><img class="imagane-icon-habilidades css"
                                                src='{% static "imagenes/space/ic-css.png" %}' height="50%"></span>
                                    </div>
                                    <div class="icon-habilidades">
                                        <span class="tooltip">JavaScript</span>
                                        <span><img class="imagane-icon-habilidades bootstrap"
                                                src='{% static "imagenes/space/ic-js.png" %}' height="50%"></span>
                                    </div>
                                    <div class="icon-habilidades">
                                        <span class="tooltip">REACT.JS</span>
                                        <span><img class="imagane-icon-habilidades react"
                                                src='{% static "imagenes/space/ic-react.png" %}' height="50%"></span>
                                    </div>
                                    <div class="icon-habilidades">
                                        <span class="tooltip">nODE.JS</span>
                                        <span><img class="imagane-icon-habilidades nodejs"
                                                src='{% static "imagenes/space/nodejs.png" %}'></span>
                                    </div>
                                </div>
                            </div>
                            <div class="conteiner-main-proyecto">
                                <div class="titulo-proyecto">Links</div>
                                <div class="conteiner-button-proyecto">
                                    <a class="button-proyecto" href="https://github.com/horacio-a/Criptoword-front">Link a github</a>
                                    <a class="button-proyecto" href="http://criptoword.com.ar">Link a la web</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="slider-slide">
                        <div class="proyecto1">
                            <div class="conteiner-main-proyecto">
                                <div class="titulo-proyecto">Espacio bonhomia</div>
                                <div><img src='{% static "imagenes/space/BonhomiaLogo.png" %}' alt="" width="25%"></div>
                            </div>
                            <div class="conteiner-main-proyecto">
                                <div class="titulo-proyecto"> Construida con</div>
                                <div class="tecnologias-construccion">
                                    <div class="icon-habilidades">
                                        <span class="tooltip">HTML</span>
                                        <span><img class="imagane-icon-habilidades html"
                                                src='{% static "imagenes/space/ic-html.png" %}' height="1.5vh"></span>
                                    </div>
                                    <div class="icon-habilidades">
                                        <span class="tooltip">CSS</span>
                                        <span><img class="imagane-icon-habilidades css"
                                                src='{% static "imagenes/space/ic-css.png" %}' height="50%"></span>
                                    </div>
                                    <div class="icon-habilidades">
                                        <span class="tooltip">JavaScript</span>
                                        <span><img class="imagane-icon-habilidades bootstrap"
                                                src='{% static "imagenes/space/ic-js.png" %}' height="50%"></span>
                                    </div>
                                    <div class="icon-habilidades">
                                        <span class="tooltip">PYTHON</span>
                                        <span><img class="imagane-icon-habilidades python"
                                                src='{% static "imagenes/space/python.png" %}' height="50%"></span>
                                    </div>
                                    <div class="icon-habilidades">
                                        <span class="tooltip">DJANGO</span>
                                        <span><img class="imagane-icon-habilidades django"
                                                src='{% static "imagenes/space/django.jpg" %}' height="50%"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="conteiner-main-proyecto">
                                <div class="titulo-proyecto">Links</div>
                                <div class="conteiner-button-proyecto">
                                    <a class="button-proyecto" href="https://github.com/horacio-a/Espacio-bonhomia">Link a github</a>
                                    <a class="button-proyecto" href="https://espacio-bonhomia.herokuapp.com">Link a la web</a>
                                </div>
                            </div>

                        </div>
                    </div>

                    <div class="slider-slide">
                        <div class="proyecto1">
                            <div class="conteiner-main-proyecto">
                                <div class="titulo-proyecto">calculadora</div>
                                <div><img src='{% static "imagenes/space/Calculadora.png" %}' alt="" width="25%"></div>
                            </div>
                            <div class="conteiner-main-proyecto">
                                <div class="titulo-proyecto"> Construida con</div>
                                <div class="tecnologias-construccion">
                                    <div class="icon-habilidades">
                                        <span class="tooltip">HTML</span>
                                        <span><img class="imagane-icon-habilidades html"
                                                src='{% static "imagenes/space/ic-html.png" %}' height="1.5vh"></span>
                                    </div>
                                    <div class="icon-habilidades">
                                        <span class="tooltip">CSS</span>
                                        <span><img class="imagane-icon-habilidades css"
                                                src='{% static "imagenes/space/ic-css.png" %}' height="50%"></span>
                                    </div>
                                    <div class="icon-habilidades">
                                        <span class="tooltip">JavaScript</span>
                                        <span><img class="imagane-icon-habilidades bootstrap"
                                                src='{% static "imagenes/space/ic-js.png" %}' height="50%"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="conteiner-main-proyecto">
                                <div class="titulo-proyecto">Links</div>
                                <div class="conteiner-button-proyecto">
                                    <a class="button-proyecto">Link a github</a>
                                    <a class="button-proyecto">Link a la web</a>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="slider-slide">
                        <div class="proyecto1">
                            <div class="conteiner-main-proyecto">
                                <div class="titulo-proyecto">Chat Priv</div>
                                <div><img src='{% static "imagenes/space/Logo-chat-priv.png" %}' alt="" width="25%"></div>
                            </div>
                            <div class="conteiner-main-proyecto">
                                <div class="titulo-proyecto"> Construida con</div>
                                <div class="tecnologias-construccion">
                                    <div class="icon-habilidades">
                                        <span class="tooltip">HTML</span>
                                        <span><img class="imagane-icon-habilidades html"
                                                src='{% static "imagenes/space/ic-html.png" %}' height="1.5vh"></span>
                                    </div>
                                    <div class="icon-habilidades">
                                        <span class="tooltip">CSS</span>
                                        <span><img class="imagane-icon-habilidades css"
                                                src='{% static "imagenes/space/ic-css.png" %}' height="50%"></span>
                                    </div>
                                    <div class="icon-habilidades">
                                        <span class="tooltip">JavaScript</span>
                                        <span><img class="imagane-icon-habilidades bootstrap"
                                                src='{% static "imagenes/space/ic-js.png" %}' height="50%"></span>
                                    </div>
                                    <div class="icon-habilidades">
                                        <span class="tooltip">Socket.Io</span>
                                        <span><img class="imagane-icon-habilidades bootstrap"
                                                src='{% static "imagenes/space/socketio.png" %}' height="50%"></span>
                                    </div>
                                    <div class="icon-habilidades">
                                        <span class="tooltip">nODE.JS</span>
                                        <span><img class="imagane-icon-habilidades nodejs"
                                                src='{% static "imagenes/space/nodejs.png" %}'></span>
                                    </div>
                                </div>
                            </div>
                            <div class="conteiner-main-proyecto">
                                <div class="titulo-proyecto">Links</div>
                                <div class="conteiner-button-proyecto">
                                    <a class="button-proyecto">Link a github</a>
                                    <a class="button-proyecto">Link a la web</a>
                                </div>
                            </div>

                        </div>
                    </div>

                </div>
                <div class="slider-btns">
                    <div class="prev button-carrosel" href="#">
                        &lt;</div>
                    <div class="next button-carrosel" href="#">&gt;</div>
                </div>
            </div>
        </section>
    </div>
    <div class="main-proyecto-movil">
        <section id="seccion12" class="section">
            <img class="prev-movil button-carrosel" src='{% static "imagenes/space/arriba.png" %}' height="25vh"></img>

            <div class="slider">
                <div class="slider-slides">
                    <div class="slider-slide-movil active">
                        <div class="proyecto1">
                            <div class="conteiner-main-proyecto" style="margin-top: 1vh;">
                                <div class="titulo-proyecto"> Criptoword</div>
                                <div><img src='{% static "imagenes/space/icon S.png" %}' alt="" width="25%"></div>
                            </div>
                            <div class="conteiner-main-proyecto">
                                <div class="titulo-proyecto"> Construida con</div>
                                <div class="tecnologias-construccion">
                                    <img class="imagane-icon-habilidades html"
                                        src='{% static "imagenes/space/ic-html.png" %}' >
                                    <img class="imagane-icon-habilidades css"
                                        src='{% static "imagenes/space/ic-css.png" %}' >
                                    <img class="imagane-icon-habilidades bootstrap"
                                        src='{% static "imagenes/space/ic-js.png" %}' >
                                </div>

                                <div class="tecnologias-construccion">
                                    <img class="imagane-icon-habilidades react"
                                        src='{% static "imagenes/space/ic-react.png" %}'>
                                    <img class="imagane-icon-habilidades nodejs"
                                        src='{% static "imagenes/space/nodejs.png" %}' >
                                </div>


                            </div>
                            <div class="conteiner-main-proyecto links">
                                <div class="titulo-proyecto">Links</div>
                                <div class="conteiner-button-proyecto">
                                    <a class="button-proyecto" href="https://github.com/horacio-a/Criptoword-front">Link a github</a>
                                    <a class="button-proyecto" href="http://criptoword.com.ar">Link a la web</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="slider-slide-movil">
                        <div class="proyecto1">
                            <div class="conteiner-main-proyecto" style="margin-top: 1vh;">
                                <div class="titulo-proyecto">Espacio bonhomia</div>
                                <div><img src='{% static "imagenes/space/BonhomiaLogo.png" %}' alt="" width="25%"></div>
                            </div>
                            <div class="conteiner-main-proyecto">
                                <div class="titulo-proyecto"> Construida con</div>
                                <div class="tecnologias-construccion">
                                    <img class="imagane-icon-habilidades html"
                                        src='{% static "imagenes/space/ic-html.png" %}' >
                                    <img class="imagane-icon-habilidades css"
                                        src='{% static "imagenes/space/ic-css.png" %}' >
                                    <img class="imagane-icon-habilidades bootstrap"
                                        src='{% static "imagenes/space/ic-js.png" %}' >
                                </div>

                                <div class="tecnologias-construccion">

                                    <img class="imagane-icon-habilidades python"
                                        src='{% static "imagenes/space/python.png" %}' >
                                    <img class="imagane-icon-habilidades django"
                                        src='{% static "imagenes/space/django.jpg" %}' >

                                </div>
                            </div>
                            <div class="conteiner-main-proyecto links">
                                <div class="titulo-proyecto">Links</div>
                                <div class="conteiner-button-proyecto">
                                    <a class="button-proyecto" href="https://github.com/horacio-a/Espacio-bonhomia">Link a github</a>
                                    <a class="button-proyecto" href="https://espacio-bonhomia.herokuapp.com">Link a la web</a>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="slider-slide-movil">
                        <div class="proyecto1">
                            <div class="conteiner-main-proyecto" style="margin-top: 1vh;">
                                <div class="titulo-proyecto">calculadora</div>
                                <div><img src='{% static "imagenes/space/Calculadora.png" %}' alt="" width="25%"></div>
                            </div>
                            <div class="conteiner-main-proyecto">
                                <div class="titulo-proyecto"> Construida con</div>
                                <div class="tecnologias-construccion">
                                    <img class="imagane-icon-habilidades html"
                                        src='{% static "imagenes/space/ic-html.png" %}' >
                                    <img class="imagane-icon-habilidades bootstrap"
                                        src='{% static "imagenes/space/ic-js.png" %}' >
                                    <img class="imagane-icon-habilidades css"
                                        src='{% static "imagenes/space/ic-css.png" %}'>
                                </div>
                            </div>
                            <div class="conteiner-main-proyecto links">
                                <div class="titulo-proyecto">Links</div>
                                <div class="conteiner-button-proyecto">
                                    <a class="button-proyecto" href="">Link a github</a>
                                    <a class="button-proyecto" href="">Link a la web</a>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="slider-slide-movil">
                        <div class="proyecto1">
                            <div class="conteiner-main-proyecto" style="margin-top: 1vh;">
                                <div class="titulo-proyecto">Chat priv</div>
                                <div><img src='{% static "imagenes/space/Logo-chat-priv.png" %}' alt="" width="25%"></div>
                            </div>
                            <div class="conteiner-main-proyecto">
                                <div class="titulo-proyecto"> Construida con</div>
                                <div class="tecnologias-construccion">
                                    <img class="imagane-icon-habilidades html"
                                        src='{% static "imagenes/space/ic-html.png" %}' >
                                    <img class="imagane-icon-habilidades bootstrap"
                                        src='{% static "imagenes/space/ic-js.png" %}' >
                                    <img class="imagane-icon-habilidades css"
                                        src='{% static "imagenes/space/ic-css.png" %}'>
                                </div>
                                <div class="tecnologias-construccion">
                                    <img class="imagane-icon-habilidades html"
                                        src='{% static "imagenes/space/socketio.png" %}' >
                                    <img class="imagane-icon-habilidades bootstrap"
                                        src='{% static "imagenes/space/nodejs.png" %}' >
                                    
                                </div>
                            </div>
                            <div class="conteiner-main-proyecto links">
                                <div class="titulo-proyecto">Links</div>
                                <div class="conteiner-button-proyecto">
                                    <a class="button-proyecto" href="">Link a github</a>
                                    <a class="button-proyecto" href="">Link a la web</a>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <img class="next-movil button-carrosel" src='{% static "imagenes/space/abajo.png" %}' height="25vh" ></img>

        </section>

    </div>

    <div class="main-menu">
        <div class="wrapper-row">
            <div class="icon fabebook">
                <span class="tooltip">Change to English</span>
                <span>
                    <a class="menu-item" href="/space/en">
                        <img src='{% static "imagenes/space/idioma.png" %}' alt="">
                    </a>
                </span>
            </div>
            <div class="icon fabebook">
                <span class="tooltip">Quien soy</span>
                <span>
                    <a class="menu-item" href="/space/quiensoy">
                        <img src='{% static "imagenes/space/aboutme.png" %}' alt="">

                    </a>
                </span>
            </div>
            <div class="icon fabebook">
                <span class="tooltip">Mis proyectos</span>
                <span>
                    <a class="menu-item" href="/space/proyectos">
                        <img src='{% static "imagenes/space/proyectos.png" %}' alt="">
                    </a>
                </span>
            </div>
            <div class="icon fabebook">
                <span class="tooltip">Inicio</span>
                <span>
                    <a class="menu-item" href="/space">
                        <img src='{% static "imagenes/space/inicio.png" %}' alt="">
                    </a>
                </span>
            </div>
            <div class="icon fabebook">
                <span class="tooltip">Mis Habilidades</span>
                <span>
                    <a class="menu-item" href="/space/habilidades">
                        <img src='{% static "imagenes/space/habilidades.png" %}' alt="">
                    </a>
                </span>
            </div>
            <div class="icon fabebook">
                <span class="tooltip">Contactame</span>
                <span>
                    <a class="menu-item" href="/space/contacto">
                        <img src='{% static "imagenes/space/Contacto.png" %}' alt="">

                    </a>
                </span>
            </div>
            <div class="icon fabebook">
                <span class="tooltip">Cambia el estilo</span>
                <span>
                    <a class="menu-item" href="/estilos">
                        <img src='{% static "imagenes/space/circulo-de-color.png" %}' alt="">

                    </a>
                </span>
            </div>

        </div>

    </div>
</div>

<div class="footer">
    <div class="wrapper">
        <div class="icon fabebook">
            <span class="tooltip">Linkedin</span>
            <span><img src='{% static "imagenes/space/linkedin.png" %}' alt="" width="100%"></span>
        </div>
        <div class="icon fabebook">
            <span class="tooltip">curriculum vitae</span>
            <span><img src='{% static "imagenes/space/cv.png" %}' alt="" width="85%"></span>
        </div>
        <div class="icon fabebook">
            <span class="tooltip">github</span>
            <span> <img src='{% static "imagenes/space/github.png" %}' alt="" width="100%"></span>
        </div>

    </div>


</div>
{% endblock %}