{% extends 'eyes/base.html' %}


{% load static %}

{% block title %}
Mis habilidades
{% endblock %}



{% block content %}
<main style="justify-content: center; align-items: center; height: 85%;" class="main-habilidades-pc">
    <div class="conteiner-misproyectos">
        <div class="center-flex-j">
            <div class="bloque-tecnologia">
                <div class="titulo-tecnologia">
                    Las tecnologias que manejo
                </div>
                <div class="space-around-flex-j">
                    <div class="bloque-tecnologia-unidad ">
                        <div class="view view-tenth center-flex-j center-flex-ai">
                            <img src='{% static "imagenes/eyes/html-5.png" %}' width="75%" />
                            <div class="mask">
                                <div class="titulo-mask">
                                    lo use en los estos proyectos
                                </div>
                                <div class="conjunto-botones">
                                        <a href="" class="boton-proyectos">
                                            CriptoWord
                                        </a>
                                    <a href="" class="boton-proyectos">
                                        calculadora
                                    </a>
                                    <a href="" class="boton-proyectos">
                                        e-commerce
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="bloque-tecnologia-unidad ">
                        <div class="view view-tenth center-flex-j center-flex-ai">
                            <img src='{% static "imagenes/eyes/css-3.png" %}' width="75%" />
                            <div class="mask">
                                <div class="titulo-mask">
                                    lo use en los estos proyectos
                                </div>
                                <div class="conjunto-botones">
                                        <a href="" class="boton-proyectos">
                                            CriptoWord
                                        </a>
                                    <a href="" class="boton-proyectos">
                                        calculadora
                                    </a>
                                    <a href="" class="boton-proyectos">
                                        e-commerce
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="bloque-tecnologia-unidad ">
                        <div class="view view-tenth center-flex-j center-flex-ai">
                            <img src='{% static "imagenes/eyes/js.png" %}' width="75%" />
                            <div class="mask">
                                <div class="titulo-mask">
                                    lo use en los estos proyectos
                                </div>
                                <div class="conjunto-botones">
                                        <a href="" class="boton-proyectos">
                                            CriptoWord
                                        </a>
                                    <a href="" class="boton-proyectos">
                                        calculadora
                                    </a>
                                    <a href="" class="boton-proyectos">
                                        e-commerce
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="bloque-tecnologia-unidad ">
                        <div class="view view-tenth center-flex-j center-flex-ai">
                            <img src='{% static "imagenes/eyes/bootstrap.png" %}' width="75%" />
                            <div class="mask">
                                <div class="titulo-mask">
                                    lo use en los estos proyectos
                                </div>
                                <div class="conjunto-botones">
                                        <a href="" class="boton-proyectos">
                                            CriptoWord
                                        </a>
                                    <a href="" class="boton-proyectos">
                                        calculadora
                                    </a>
                                    <a href="" class="boton-proyectos">
                                        e-commerce
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="space-around-flex-j">
                    <div class="bloque-tecnologia-unidad ">
                        <div class="view view-tenth center-flex-j center-flex-ai">
                            <img src='{% static "imagenes/eyes/physics.png" %}' width="75%" />
                            <div class="mask">
                                <div class="titulo-mask">
                                    lo use en los estos proyectos
                                </div>
                                <div class="conjunto-botones">
                                        <a href="" class="boton-proyectos">
                                            CriptoWord
                                        </a>
                                    <a href="" class="boton-proyectos">
                                        calculadora
                                    </a>
                                    <a href="" class="boton-proyectos">
                                        e-commerce
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="bloque-tecnologia-unidad ">
                        <div class="view view-tenth center-flex-j center-flex-ai">
                            <img src='{% static "imagenes/eyes/nodejs.png" %}' width="75%" />
                            <div class="mask">
                                <div class="titulo-mask">
                                    lo use en los estos proyectos
                                </div>
                                <div class="conjunto-botones">
                                        <a href="" class="boton-proyectos">
                                            CriptoWord
                                        </a>
                                    <a href="" class="boton-proyectos">
                                        calculadora
                                    </a>
                                    <a href="" class="boton-proyectos">
                                        e-commerce
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="bloque-tecnologia-unidad ">
                        <div class="view view-tenth center-flex-j center-flex-ai">
                            <img src='{% static "imagenes/eyes/python.png" %}' width="75%" />
                            <div class="mask">
                                <div class="titulo-mask">
                                    lo use en los estos proyectos
                                </div>
                                <div class="conjunto-botones">
                                        <a href="" class="boton-proyectos">
                                            CriptoWord
                                        </a>
                                    <a href="" class="boton-proyectos">
                                        calculadora
                                    </a>
                                    <a href="" class="boton-proyectos">
                                        e-commerce
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="bloque-tecnologia-unidad ">
                        <div class="view view-tenth center-flex-j center-flex-ai">
                            <img src='{% static "imagenes/eyes/django.jpg" %}' width="85%" />
                            <div class="mask">
                                <div class="titulo-mask">
                                    lo use en los estos proyectos
                                </div>
                                <div class="conjunto-botones">
                                        <a href="" class="boton-proyectos">
                                            CriptoWord
                                        </a>
                                    <a href="" class="boton-proyectos">
                                        calculadora
                                    </a>
                                    <a href="" class="boton-proyectos">
                                        e-commerce
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>



                </div>
            </div>
        </div>
    </div>
</main>
<main class="main-habilidades-movil">
    <div class="conteiner-habilidades">
        <div class="titulo-habilidades">
            Tecnologias que manejo
        </div>
        <div class="conteiner-imagenes">
            <div class="columna">
                <img src='{% static "imagenes/eyes/html-5.png" %}' alt="" height="95%">
                <img src='{% static "imagenes/eyes/css-3.png" %}' alt="" height="95%">
            </div>
            <div class="columna">
                <img src='{% static "imagenes/eyes/bootstrap.png" %}' alt="" height="95%">
                <img src='{% static "imagenes/eyes/js.png" %}' alt="" height="95%">
            </div>
            <div class="columna">
                <img src='{% static "imagenes/eyes/physics.png" %}' alt="" height="95%">
                <img src='{% static "imagenes/eyes/nodejs.png" %}' alt="" height="95%">
            </div>
            <div class="columna">
                <img src='{% static "imagenes/eyes/django.jpg" %}'alt="" height="95%">
                <img src='{% static "imagenes/eyes/python.png" %}' alt="" height="95%">
            </div>
        </div>
    </div>
</main>
{% endblock %}