{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Cinzel&display=swap" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href='{% static "css/hub.css" %}'>
    <title>Cambia el estilo</title>
</head>

<body id="body">
    <div class="conteiner-main">
        <main>
            <div class="titulo-porfolio" id="titulo">
                Cambia el estilo del porfolio
            </div>
            <div class="conteiner-estilos" id="conconteiner-estilos">
                <div class="columnas">
                    <a href="/eyes/" class="unidad-estilos" id="ojos">
                        <img src='{% static "imagenes/eyes/mascotaon.png" %}' alt="" style="width: 100%; height: auto;">
                    </a>
                    <a href="cuartointento/htmls/index.html" class="unidad-estilos" id="porfolio2">
                        <img src="" alt="" style="width: 100%; height: auto;">
                    </a>
                    <a href="/space/" class="unidad-estilos" id="space">
                        <img src='{% static "imagenes/space/alienlogo.png" %}' alt=""
                            style="width: 100%; height: auto;">
                    </a>
                    <div class="unidad-estilos NoIniciada" id="proximamente4">
                        <p>proximamente</p>
                    </div>
                </div>
                <div class="columnas">
                    <div class="unidad-estilos NoIniciada" id="proximamente5">
                        <p>proximamente</p>
                    </div>
                    <div class="unidad-estilos NoIniciada" id="proximamente6">
                        <p>proximamente</p>
                    </div>
                    <div class="unidad-estilos NoIniciada" id="proximamente7">
                        <p>proximamente</p>
                    </div>
                    <div class="unidad-estilos NoIniciada" id="proximamente8">
                        <p>proximamente</p>
                    </div>
                </div>
            </div>
        </main>

        <footer>
            <div class="conteiner-contacto" id="contacto">
                <p> Github: horacio.a </p>
                <p> Linkedin: Horacio Albornoz </p>
                <p> Cv: click aqui</p>
            </div>
        </footer>
    </div>




    <div class="conteiner-main-movil">
        <main>
            <div class="titulo-porfolio" id="titulo">
                Cambia el estilo del porfolio
            </div>
            <div class="conteiner-estilos" id="conconteiner-estilos">
                <div class="columnas">
                    <a href="/eyes/" class="unidad-estilos" id="ojos">
                        <img src='{% static "imagenes/eyes/mascotaon.png" %}' alt="" style="width: 100%; height: auto;">
                    </a>
                    <a href="/space/" class="unidad-estilos" id="space">
                        <img src='{% static "imagenes/space/alienlogo.png" %}' alt="" style="width: 100%; height: auto;">
                    </a>
                </div>
                <div class="columnas">
                    <div class="unidad-estilos NoIniciada" id="proximamente4">
                        <p>proximamente</p>
                    </div>
                    <div class="unidad-estilos NoIniciada" id="proximamente4">
                        <p>proximamente</p>
                    </div>
                </div>
                <div class="columnas">
                    <div class="unidad-estilos NoIniciada" id="proximamente4">
                        <p>proximamente</p>
                    </div>
                    <div class="unidad-estilos NoIniciada" id="proximamente4">
                        <p>proximamente</p>
                    </div>
                </div>
                <div class="columnas">
                    <div class="unidad-estilos NoIniciada" id="proximamente4">
                        <p>proximamente</p>
                    </div>
                    <div class="unidad-estilos NoIniciada" id="proximamente4">
                        <p>proximamente</p>
                    </div>
                </div>
            </div>
        </main>
        <footer>
            <div class="conteiner-contacto" id="contacto">
                <a href="" class="" id="space">
                    <img src='{% static "imagenes/space/Linkedin.png" %}' alt="" >
                </a>              
                <a href="" class="" id="space">
                    <img src='{% static "imagenes/space/Github.png" %}' alt="">
                </a>
                <a href="" class="" id="space">
                    <img src='{% static "imagenes/space/Cv.png" %}' alt="">
                </a>
            </div>
        </footer>
    </div>
    </div>
</body>
<script src='{% static "js/hub.js" %}'></script>

</html>